/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/



/* ========
  Inconsolata 
==========*/

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

