:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--sw-grey10-comp: 17, 14, 14;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--sw-grey10-comp), 25%), 0 8px 24px rgba(var(--sw-grey10-comp), 33%), 0 16px 32px rgba(var(--sw-grey10-comp), 33%);

	--portfolio-gutter: 2rem;
	--typ-space: 1.5rem;
	--container-offset: calc(var(--typ-space) * 4);
	--typ-blog-link-space: 0.75rem;
	--typ-blog-link-space-sm: calc(var(--typ-blog-link-space) * 0.618033);

	--page-container-width: calc(100vw - 1rem)
}

@media (min-width: 320px) {
	:root {
		--page-container-width: calc(320px - var(--typ-space))
	}
}

@media (min-width: 480px) {
	:root {
		--page-container-width: calc(480px - var(--typ-space))
	}
}

@media (min-width: 768px) {
	:root {
		--page-container-width: calc(768px - var(--container-offset))
	}
}

@media (min-width: 1024px) {
	:root {
		--page-container-width: calc(1024px - var(--container-offset))
	}
}

@media (min-width: 1440px) {
	:root {
		--page-container-width: calc(1440px - var(--container-offset))
	}
}

@media (min-width: 1680px) {
	:root {
		--page-container-width: calc(1680px - var(--container-offset))
	}
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--sw-col-dark-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--sw-col-dark-text);
}

main {
	width: var(--page-container-width);
	margin: 0 auto;
	padding: 3em 0;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--sw-col-dark-primary);
	text-decoration-color: var(--sw-col-dark-primary);
}

a:link {
	color: var(--sw-col-dark-primary);
	text-decoration-color: var(--sw-col-dark-primary);
}


a:visited {
	color: var(--sw-col-dark-primary);
	text-decoration-color: var(--sw-col-dark-primary);
	opacity: 0.67;
}

a:hover {
	color: var(--sw-col-dark-secondary);
	text-decoration-color: var(--sw-col-dark-secondary);
}

a:active {
	color: var(--sw-col-dark-primary);
	text-decoration-color: var(--sw-col-dark-primary);
	opacity: 0.67;
}

p {
	margin-bottom: 1em;
}

p,
span,
em,
strong,
tr,
td,
ul,
ol,
li {
	color: var(--sw-col-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--sw-col-dark-primary);
}

.prose p {
	margin-bottom: 2em;
}

.prose h3 em {
	font-size: inherit;
	color: var(--sw-col-dark-primary);
}

textarea {
	width: 100%;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--sw-col-dark-primary);
	padding: 0 0 0 20px;
	margin: 0;
}

blockquote p {
	font-style: italic;
	letter-spacing: 0.0375rem;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.category {
	color: var(--sw-col-dark-primary)
}

/* ----------------------------------------
 * Posts
 * ------------------------------------- */

.post-title .title {
	letter-spacing: 0.15rem;
}

.post-title .date,
.post-title .category {
	margin: 0;
	font-weight: 400;
	font-size: var(--sw-tscale-small);
	font-family: var(--sw-fontfam-body);
	font-style: normal;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	opacity: 0.833;
}

.title-line {
	margin-top: calc(var(--typ-space) * 2.5);
	margin-bottom: calc(var(--typ-space) * 2.5);
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	/* main {
		padding: 1em;
	} */

}


.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* ----------------------------------------
 * Blog Links
 * ------------------------------------- */

ul.blog-links {
	display: flex;
	flex-wrap: wrap;
	gap: var(--portfolio-gutter);
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog-links li.blog-link {
	width: calc(50% - var(--portfolio-gutter));
	margin: 3rem 0;
}

ul.blog-links li.blog-link * {
	text-decoration: none;
}

ul.blog-links li.blog-link img {
	margin-bottom: var(--typ-blog-link-space);
	width: 100%;
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

ul.blog-links li.blog-link a {
	display: block;
}

.blog-link .title {
	margin: 0;
	line-height: 1;
}

ul.blog-links li.blog-link a:hover h4,
ul.blog-links li.blog-link a:hover .date {
	color: rgb(var(--sw-col-dark-primary));
}

ul.blog-links a:hover img {
	box-shadow: var(--box-shadow);
}

.post-link {
	margin-bottom: var(--typ-blog-link-space-sm);
}

.post-info {
	margin-bottom: var(--typ-blog-link-space-sm);
	line-height: 1.15;
}

.post-info-line {
	margin-top: var(--typ-blog-link-space-sm);
	margin-bottom: var(--typ-blog-link-space-sm);
}

.post-info .category,
.post-info .date {
	font-style: italic;
	font-weight: 400;
	opacity: 0.8;
}

.post-info .date {
	font-size: 1rem;
}

@media (max-width: 720px) {
	ul.blog-links {
		gap: 0.5rem;
	}

	ul.blog-links li.blog-link {
		width: 100%;
		text-align: center;
	}
}

/* ----------------------------------------
 * Signature
 * ------------------------------------- */

.signature {
	display: block;
}

.signature.header {
	margin: var(--typ-space) 0;
}

.signature-link {
	display: flex;
	margin: 0;
	gap: var(--typ-blog-link-space);
	color: var(--sw-col-dark-primary);
}

a.signature-link,
a.signature-link.active {
	text-decoration: none;
}

.signature-link:link {
	color: var(--sw-col-dark-primary);
}

.signature-link:visited {
	color: var(--sw-col-dark-primary);
}

.signature-link:hover {
	color: var(--sw-col-dark-primary);
	opacity: 0.833;
}

.signature-link:active {
	color: var(--sw-col-dark-primary);
	opacity: 0.833;
}

.signature-icon {
	max-height: 5.4rem;
}

.signature-text {
	margin: 0;
	font-weight: 400;
	font-size: var(--sw-tscale-body);
	font-family: var(--sw-fontfam-heading);
	text-align: left;
	line-height: 1;
	flex: 0 0 13rem;
}

.footer .signature-text {
	flex: 0 0 13rem;
}

.signature-title {
	display: inline-block;
	margin: 0;
	font-weight: 400;
	font-size: var(--sw-tscale-h4);
	font-family: var(--sw-fontfam-heading);
	font-style: normal;
	letter-spacing: 0.15rem;
	line-height: 1.1;
}

.signature-tagline {
	font-size: 1rem;
	width: 100%;
	letter-spacing: 0.125rem;
	line-height: 1.67;
}

.signature-title,
.signature-tagline {
	color: inherit;
}

@media (min-width: 540px) {
	.signature.header {
		margin: calc(var(--typ-space) * 1.5) 0;
	}
}