:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--sw-grey10-comp: 17, 14, 14;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--sw-grey10-comp), 25%), 0 8px 24px rgba(var(--sw-grey10-comp), 33%), 0 16px 32px rgba(var(--sw-grey10-comp), 33%);
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--sw-col-dark-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--sw-col-dark-text);
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--sw-col-dark-primary);
}

a:hover {
	color: var(--sw-col-dark-primary);
}

p {
	margin-bottom: 1em;
}

p,
span,
em,
strong,
tr,
td,
ul,
ol,
li {
	color: var(--sw-col-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--sw-col-dark-primary);
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--sw-col-dark-primary);
	padding: 0 0 0 20px;
	margin: 0;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}

}


.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* ----------------------------------------
 * Blog Links
 * ------------------------------------- */

ul.blog-links {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog-links li.blog-link {
	width: calc(50% - 1rem);
}

ul.blog-links li.blog-link * {
	text-decoration: none;
}

ul.blog-links li.blog-link img {
	margin-bottom: 0.5rem;
}

ul.blog-links li.blog-link a {
	display: block;
}

.title {
	margin: 0;
	color: var(--sw-col-dark-text);
	line-height: 1;
}

.date {
	margin: 0;
	color: rgb(var(--gray));
}

ul.blog-links li.blog-link a:hover h4,
ul.blog-links li.blog-link a:hover .date {
	color: rgb(var(--sw-col-dark-primary));
}

ul.blog-links a:hover img {
	box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
	ul.blog-links {
		gap: 0.5em;
	}

	ul.blog-links li.blog-link {
		width: 100%;
		text-align: center;
	}
}

/* ----------------------------------------
 * Signature
 * ------------------------------------- */

.signature {
	display: block;
}

.signature-link {
	display: flex;
	margin: 0;
	gap: 1rem;
	color: var(--sw-col-dark-primary);
}

a.signature-link,
a.signature-link.active {
	text-decoration: none;
}

.signature-link:link {
	color: var(--sw-col-dark-primary);
}

.signature-link:visited {
	color: var(--sw-col-dark-primary);
}

.signature-link:hover {
	color: var(--sw-col-dark-text);
}

.signature-link:active {
	color: var(--sw-col-dark-primary);
}
/* 
.signature.header {
	flex: 1 1 auto;
} */

.signature-icon {
	max-height: 4rem;
}

.signature-text {
	margin: 0;
	/* padding: 0 1em; */
	font-weight: 400;
	font-size: var(--sw-tscale-body);
	font-family: var(--sw-fontfam-heading);
	line-height: 1.67;
	text-align: left;
	flex: 1 0 26rem;
}

.signature-title {
	display: inline-block;
	margin: 0.25rem 0 0 0;
	font-weight: 400;
	font-size: var(--sw-tscale-h3);
	font-family: var(--sw-fontfam-heading);
	font-style: normal;
	letter-spacing: 0.15rem;
	line-height: 1.25;
}

.signature-tagline {
	/* display: inline-block; */
	font-size: 1rem;
	width: 100%;
	letter-spacing: 0.15rem;
}

.signature-title,
.signature-tagline {
	line-height: 1;
	color: inherit;
}
