/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/


/* ========
  Yrsa 
==========*/

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Bold.ttf');
  font-weight: 700;
}



@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Yrsa';
  src: url('/fonts/yrsa/Yrsa-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}