/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/



/* ========
  OpenSans 
==========*/

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-BoldItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
