---
import { OWNER_NAME, SITE_TITLE, SITE_TAGLINE } from "../consts";
import Signature from "./Signature.astro";
const today = new Date();
---

<footer>
	<div class="footer-wrapper">
		<Signature location="footer" />
		<span class="footer-copyright">
			&copy; {today.getFullYear()}
			{OWNER_NAME}
		</span>
	</div>
</footer>
<style>
	footer {
		padding: 3em 0;
		color: var(--sw-col-dark-text);
		/* background-color: var(--sw-col-grey10); */
		background-image: url("../assets/backgrounds/noisy-grid-dark.png");
		border-top: 1px var(--sw-col-dark-text) solid;
		font-weight: 400;
		font-size: var(--sw-tscale-body);
		font-family: var(--sw-fontfam-body);
		letter-spacing: 0.02rem;
		line-height: 1.5;
		text-align: left;
	}

	.footer-wrapper {
		width: var(--page-container-width);
		margin: 0 auto;
	}

	.footer-copyright {
		display: inline-block;
		margin-top: 1.5rem;
		margin-bottom: 0;
		font-size: 1rem;
		opacity: 0.67;
		letter-spacing: 0.1618033rem;
	}
</style>
