---
import { OWNER_NAME } from "../consts";
const today = new Date();
---

<footer>
	<span>&copy; {today.getFullYear()} {OWNER_NAME}.<br/>All rights reserved.</span>
</footer>
<style>
	footer {
		padding: 2em 1em;
		color: var(--sw-col-dark-text);
		/* background-color: var(--sw-col-grey10); */
		background-image: url("../assets/backgrounds/noisy-grid-dark.png");
		border-top: 1px var(--sw-col-dark-text) solid;
		font-weight: 400;
		font-size: var(--sw-tscale-body);
		font-family: var(--sw-fontfam-body);
		letter-spacing: 0.02rem;
		line-height: 1.5;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
