---
import { SITE_TITLE, SITE_TAGLINE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Signature from "./Signature.astro";
---

<header>
	<div class="header-wrapper">
		<nav>
			<Signature location="header" />
			<div class="internal-links">
				<HeaderLink href="/">Portfolio</HeaderLink>
				<HeaderLink href="/cv">Resume / CV</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</nav>
	</div>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		color: var(--sw-col-dark-text);
		background-image: url("../assets/backgrounds/noisy-grid-dark.png");
		border-bottom: 1px var(--sw-col-dark-text) solid;
		font-weight: 400;
		font-size: var(--sw-tscale-body);
		font-family: var(--sw-fontfam-heading);
		letter-spacing: 0.02rem;
		line-height: 1.5;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	.header-wrapper {
		width: var(--page-container-width);
		margin: 0 auto;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0 1.25rem;
		color: var(--sw-col-dark-text);
		font-family: var(--sw-fontfam-heading);
		margin-bottom: 0;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		opacity: 0.833;
	}
	nav a.active {
		text-decoration: none;
		color: var(--sw-col-dark-primary);
	}
</style>``
