---
import { SITE_TITLE, SITE_TAGLINE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Signature from "./Signature.astro";
---

<header>
	<div class="header-wrapper">
		<nav>
			<div class="logo-wordmark">
				<Signature location="header" />
			</div>
			<div class="internal-links">
				<HeaderLink href="/">Portfolio</HeaderLink>
				<HeaderLink href="/cv">C.V. / Resumé</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</nav>
	</div>
</header>
<style>
	header {
		margin: 0;
		padding: 0 0 var(--typ-space) 0;
		color: var(--sw-col-dark-text);
		background-image: url("../assets/backgrounds/noisy-grid-dark.png");
		border-bottom: 1px var(--sw-col-dark-text) solid;
		font-weight: 400;
		font-size: var(--sw-tscale-body);
		font-family: var(--sw-fontfam-heading);
		letter-spacing: 0.02rem;
		line-height: 1.5;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	.header-wrapper {
		width: var(--page-container-width);
		margin: 0 auto;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0;
		color: var(--sw-col-dark-text);
		font-family: var(--sw-fontfam-heading);
		margin-bottom: 0;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		opacity: 0.833;
	}
	nav a.active {
		text-decoration: none;
		color: var(--sw-col-dark-primary);
	}
	.logo-wordmark {
		flex: 0 0 18.25rem;
	}
	.internal-links {
		flex: 1 1 auto;
		/* text-align: center; */
	}

	@media (min-width: 540px) {
		header {
			padding: 0;
		}
		nav {
			flex-wrap: nowrap;
		}
		nav a {
			padding: 0 var(--typ-space);
		}
		.logo-wordmark {
			padding-right: var(--typ-space);
			border-right: 1px var(--sw-col-dark-text) solid;
		}
	}
	@media (min-width: 768px) {
		nav a {
			padding: 0 var(--portfolio-gutter);
		}
		.logo-wordmark {
			padding-right: var(--portfolio-gutter);
		}
	}
</style>
