---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Portfolio</HeaderLink>
			<HeaderLink href="/cv">Resume / CV</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		color: var(--sw-col-dark-text);
		/* background-color: var(--sw-col-grey10); */
		background-image: url("../assets/backgrounds/noisy-grid-dark.png");
		border-bottom: 1px var(--sw-col-dark-text) solid;
		font-weight: 400;
		font-size: var(--sw-tscale-body);
		font-family: var(--sw-fontfam-heading);
		letter-spacing: 0.02rem;
		line-height: 1.5;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1rem;
		color: var(--sw-col-dark-text);
		font-family: var(--sw-fontfam-heading);
		margin-bottom: 0;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--sw-col-dark-primary);
	}
</style>
