/* ========================================================
  LIBREXT FONTS 
  -------------------------------------------------------
  Font-face declarations and base variables tied to font
  roles.
=========================================================*/


/* ========
  Aleo 
==========*/


@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Bold.ttf');
  font-weight: 700;
}




@font-face {
  font-family: 'Aleo';
  src: url('Aleo-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('Aleo-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}